<h1>StaticPages#about</h1>
<p>This is the about page. For now it's not really about anything but it will be... in the future.<br>This page is soon gonna be something else! Keep an eye out.</p>
<p>Find me in app/views/static_pages/about.html.erb</p>
