<h1>StaticPages#contact</h1>
<p>If you wanna contact me, send me an email: pedroangelo.sj@gmail.com<br>That's as close as pretty much everyone on the internet gets to me. Shameful, really...</p>
<p>Find me in app/views/static_pages/contact.html.erb</p>
