<div class="container">
    <div class="jumbotron">
        <div class="col-md-6 text-center center-block ">
            <h1>tomorrow is <span class="cyan">now</span></h1>
            <a href="#" class="btn btn-cyan">find out</a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-sm-4 center-block text-center">
            <img src="/assets/waterresistant.png">
            <p>water resistant</p>
        </div>
        <div class="col-sm-4 center-block text-center">
            <img src="/assets/nonviolent.png">
            <p>non violent</p>
        </div>
        <div class="col-sm-4 center-block text-center">
            <img src="/assets/renewable.png">
            <p>renewable</p>
        </div>
    </div>
</Div>