// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  margin: 0;
}

@font-face {
    font-family: 'Raleway', sans-serif !important;
    
    color: #8d8d8d !important;
}

body {
    font-family: 'Raleway', sans-serif !important;
    
    color: #8d8d8d !important;
} 

.navbar-fixed-bottom, .navbar-fixed-top {
    right: inherit;
    left: inherit;
    
}

h1 {
    color: #00aeef;
    font-size: 25px;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
}

html, body {
    height: 100%;
}

.jumbotron {
    background: url(synth.png) center center no-repeat;
    background-size: cover;
    height: 596px;
}

.jumbotron > .col-md-6 > h1 {
    padding-top: 30%;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
}

.cyan {
    color: #00aeef;
}

.col-md-12>.col-sm-4>p {
    z-index: 1000;
    font-size: 18px;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300;
}

.btn-cyan {
    margin-top: 20px;
    padding: 6px 30px;
    background-color: #00aeef;
    font-size: 21px;
    color: white !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 500;
    
    border-radius: 0px;
}

#jumbo2 {
    
    background: url(synth1.jpg) center center no-repeat;
    background-size: cover;
    height: 257px;
}

#jumbo2 > h1 {
    font-size: 37px;
    font-weight: 100;
}

.col-md-8 {
    font-family: 'Raleway', sans-serif !important;
}

body {
    background: white;
    color: #333;
}

.navbar {
    border: 0px;
    background: white;
}

.nav > li > a {
    font-size: 38px;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 100;
    padding-left: 3px;
    padding-right: 3px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
}

.page-wrap {
    padding-top: 60px;
    min-height: 100%;
  /* equal to footer height */
    margin-bottom: -55px;
}
 
.footer, .page-wrap:after {
    height: 55px; 
}
.footer {
    background: url(teste.png);
    opacity: 1;
}