<% if signed_in? %>
  <h4>Reviews:</h4>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
    <p>
      <h6>Comments</h6>
      <%= f.text_area :body, class: "form-control" %>
    </p>
    <p>
      <h6>Rating</h6>
      <div class="rating"></div>
      
      <br>
    </p>  
    <p>
      <%= f.submit 'Submit', class: "btn btn-default" %>
    </p>
  <% end %>
<% end %>
