<div class="container">
<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<br>

<table>
  <tbody>
    <%= render @products %>
</table>

<br>

<%= link_to 'New Synth', new_product_path, class: "col-md-12 col-sm-12 col-xs-12 btn btn-cyan" %>
</div>
